nav {
  height: 120px;
  width: 100%;
  color: #e6e5e5;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  top: 0;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 42px;
  font-family: 'Bungee', sans-serif;
}

.bold-header {
  font-weight: 600;
}


.nav-message {
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  cursor: pointer;
}

.arrow-icon {
  color: #f57272;
}


@media only screen and (min-width: 1024px) {
  nav {
    background-color: cornflowerblue;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    top: 0;
    position: fixed;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    background-color: #ff9d00;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    top: 0;
  }
}